 {{#each results}}
    {{#unless saved}}
    <ul class="collection">
        <li class="collection-item">{{title}}</li>
        <li class="collection-item"><a href="https://hackernoon.com{{url}}">Link</a></li>
        <li class="collection-item"><a href="{{tag}}">Tag</a></li>
        <li class="collection-item"><img style="width:150px; height: 150px; background: orange;" src="https://hackernoon.com{{image}}" alt=""></li>
        <button class="btn btn-float blue lighten-4 black-text" id="saveThis" data-id="{{_id}}" class="save">Save</button>
        </ul> 
    {{/unless}}  
{{/each}}
    
    
    
    