{{#each results}}
    <ul>
        <li>{{title}}</li>
        <li><a href="{{url}}">{{url}}</a></li>
        <li><a href="{{tag}}">{{tag}}</a></li>
        <li><div style="{{image}}" alt=""></div></li>
    </ul>

    {{/each}}